.gridMovies {
  display: grid;
  grid-template-columns: repeat(auto-fill, 230px);
  gap: 2.5rem;
  padding: 2.5rem;
  justify-content: center;
}

@media (max-width: 597px) {
  .gridMovies {
    grid-template-columns: 90%;
  }
}
